In [1]:
%load_ext sql

In [2]:
from sqlalchemy import create_engine

In [4]:

%sql postgresql://postgres:password@localhost/joining_data
        
engine = create_engine('postgresql://postgres:password@localhost/joining_data')

In [10]:
%%sql

SELECT * FROM cities 
LIMIT 5

 * postgresql://postgres:***@localhost/joining_data
   postgresql://postgres:***@localhost/postgres_summary_window_functions
5 rows affected.

[('Abidjan', 'CIV', 4765000, 0, 4765000),
 ('Abu Dhabi', 'ARE', 1145000, 0, 1145000),
 ('Abuja', 'NGA', 1235880, 6000000, 1235880),
 ('Accra', 'GHA', 2070463, 4010054, 2070463),
 ('Addis Ababa', 'ETH', 3103673, 4567857, 3103673)]

In [13]:
%%sql

SELECT * FROM countries 
LIMIT 5

 * postgresql://postgres:***@localhost/joining_data
   postgresql://postgres:***@localhost/postgres_summary_window_functions
5 rows affected.

[('AFG', 'Afghanistan', 'Asia', 'Southern and Central Asia', 652090.0, 1919, 'Afganistan/Afqanestan', 'Islamic Emirate', 'Kabul', 69.1761, 34.5228),
 ('NLD', 'Netherlands', 'Europe', 'Western Europe', 41526.0, 1581, 'Nederland', 'Constitutional Monarchy', 'Amsterdam', 4.89095, 52.3738),
 ('ALB', 'Albania', 'Europe', 'Southern Europe', 28748.0, 1912, 'Shqiperia', 'Republic', 'Tirane', 19.8172, 41.3317),
 ('DZA', 'Algeria', 'Africa', 'Northern Africa', 2381740.0, 1962, 'Al-Jaza\x92ir/Algerie', 'Republic', 'Algiers', 3.05097, 36.7397),
 ('ASM', 'American Samoa', 'Oceania', 'Polynesia', 199.0, None, 'Amerika Samoa', 'US Territory', 'Pago Pago', -170.691, -14.2846)]

In [12]:
%%sql

SELECT * 
FROM cities
  -- 1. Inner join to countries
  INNER JOIN countries
    -- 2. Match on the country codes
    ON cities.country_code = countries.code
    limit 5;

 * postgresql://postgres:***@localhost/joining_data
   postgresql://postgres:***@localhost/postgres_summary_window_functions
5 rows affected.

[('Kabul', 'AFG', 3414100, 0, 3414100, 'AFG', 'Afghanistan', 'Asia', 'Southern and Central Asia', 652090.0, 1919, 'Afganistan/Afqanestan', 'Islamic Emirate', 'Kabul', 69.1761, 34.5228),
 ('Oran', 'DZA', 1560329, 3454078, 1560329, 'DZA', 'Algeria', 'Africa', 'Northern Africa', 2381740.0, 1962, 'Al-Jaza\x92ir/Algerie', 'Republic', 'Algiers', 3.05097, 36.7397),
 ('Algiers', 'DZA', 3415811, 5000000, 3415811, 'DZA', 'Algeria', 'Africa', 'Northern Africa', 2381740.0, 1962, 'Al-Jaza\x92ir/Algerie', 'Republic', 'Algiers', 3.05097, 36.7397),
 ('Luanda', 'AGO', 2825311, 0, 2825311, 'AGO', 'Angola', 'Africa', 'Central Africa', 1246700.0, 1975, 'Angola', 'Republic', 'Luanda', 13.242, -8.81155),
 ('Dubai', 'ARE', 2643410, 0, 2643410, 'ARE', 'United Arab Emirates', 'Asia', 'Middle East', 83600.0, 1971, 'Al-Imarat al-´Arabiya al-Muttahida', 'Emirate Federation', 'Abu Dhabi', 54.3705, 24.4764)]